<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ingweb</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Grid.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-search" style="background-color: #ffffff;">
        <div class="container"><a class="navbar-brand" href="index.html" style="font-size: 24px;">BookStore</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><input class="border rounded border-light form-control search-field" type="search" name="search" id="search-field" style="background-color: #d5d5d5;color: rgb(31,31,31);"><label for="search-field" style="margin: 10PX;"><i class="fa fa-search" style="color: rgb(54,60,69);"></i></label></div>
                </form>
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Catálogo</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact.html">Sobre Nosotros</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact.html">Contacto</a></li>
                </ul><a class="btn btn-light action-button" role="button" href="login.html">Login / Register</a></div>
        </div>
    </nav>
    <div style="background-color: rgba(255,255,255,0);">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3"><img class="img-fluid" src="assets/img/kh.png" style="max-height: 100%;"></div>
                <div class="col-md-4 col-lg-5" style="margin: 0px;">
                    <h2 class="text-left" style="margin: 10px;">TITULO DEL LIBRO</h2>
                    <h4 class="text-left" style="color: rgb(101,101,101);margin: 10px;margin-bottom: 10px;">AUTOR</h4>
                    <h5 class="text-left" style="width: 300px;margin: 10px;margin-bottom: 6px;">Categorias</h5>
                    <div>
                        <h2 class="text-left" style="margin: 10px;">Resumen</h2>
                        <p class="text-justify" style="margin: 10px;">Paragraph</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3 class="text-left" style="margin-bottom: 14px;">Precio</h3><button class="btn btn-primary btn-block" type="button">Comprar</button></div>
            </div>
        </div>
    </div>
    <div class="article-dual-column" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="intro">
                        <h1 class="text-center border rounded-0 border-dark shadow-lg" style="margin: 20px;padding: 14px;">Información extra<br></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-3 offset-md-1" style="background-color: #cdcdcd;">
                    <div class="row justify-content-center align-items-center">
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <p class="text-center" style="color: rgb(0,0,0);"><strong>Nº de páginas</strong></p>
                        </div>
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <p class="text-center">Paragraph</p>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <p class="text-center" style="color: rgb(0,0,0);"><strong>Editorial</strong></p>
                        </div>
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <p class="text-center">Paragraph</p>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center" style="color: rgb(0,0,0);">
                            <p class="text-center"><strong>Idioma</strong></p>
                        </div>
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <p class="text-center">Paragraph</p>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center" style="color: rgb(0,0,0);">
                            <p class="text-center"><strong>ISBN</strong></p>
                        </div>
                        <div class="col d-lg-flex justify-content-lg-center align-items-lg-center">
                            <p class="text-left">Paragraph</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                    <div class="text">
                        <h1 class="text-left" style="font-size: 24px;color: rgb(0,0,0);filter: hue-rotate(0deg);"><strong>Resumen</strong></h1>
                        <p class="text-justify">texto</p>
                        <figure class="figure"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="article-dual-column">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="intro">
                        <h1 class="text-center border rounded-0 border-dark shadow-lg" style="padding: 14px;margin-top: 20px;">El Autor</h1>
                        <p class="text-center"> </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-3 offset-md-1 d-lg-flex justify-content-lg-center align-items-lg-center">
                    <div class="toc"></div><img></div>
                <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                    <div class="text">
                        <h2 class="text-left">Nombre autor</h2>
                        <p class="text-justify">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit
                            pulvinar dictum vel in justo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>