<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ingweb</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Grid.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-search" style="background-color: #ffffff;">
        <div class="container"><a class="navbar-brand" href="index.html" style="font-size: 24px;">BookStore</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><input class="border rounded border-light form-control search-field" type="search" name="search" id="search-field" style="background-color: #d5d5d5;color: rgb(31,31,31);"><label for="search-field" style="margin: 10PX;"><i class="fa fa-search" style="color: rgb(54,60,69);"></i></label></div>
                </form>
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Catálogo</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Sobre Nosotros</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact.html">Contacto</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="text-center login-dark" style="opacity: 1;background-color: rgb(255,255,255);height: 597px;">
        <form method="post" style="background-color: rgb(255,255,255);height: 518px;">
            <h2 class="text-center" style="color: rgb(33,74,128);">Iniciar Sesión:</h2>
            <div class="illustration"><i class="icon ion-person" style="color: rgb(33,74,128);"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Correo electrónico"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Contraseña"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Iniciar Sesión</button></div><a href="https://i.kym-cdn.com/photos/images/facebook/001/290/942/c31.png" class="forgot">Has olvidado tu correo o contraseña?</a><a href="register.html"
                class="forgot" style="color: rgb(33,74,128);font-weight: bold;font-style: normal;">No tengo cuenta. Quiero registrarme.</a></form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
</body>

</html>